.hpms-info-box-dialog{
    .el-dialog-normal{
        width:360px;;
    }
    .stcw{
        .el-form-item{
            display: inline-block;
        }
    }
    .submit-button{
        background-color: #329DFF;
        color: #fff;
        &:hover{
            color: #fff;
        }
    }
}

    
