@charset "utf-8";
html,body,div,p,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
html {
    height:100%;
    overflow-y:scroll;
    cursor:default;
    overflow-y:scroll;
    -webkit-tap-highlight-color:transparent;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%}
body {
    background-size: 100% 100%;
    background-color:#f3f3f3!important;
    max-width: 768px;
    margin: 0 auto !important;
    padding:0;
    overflow-x: hidden;
    height:100%;
    position:relative;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
}
ul,li {
    list-style: none!important;
}




.my-bj {
    background: url(../images/my-banner@2x.png) no-repeat;
    width:100%;
    background-size:100%;
    background-color: #fff;
}
.icon-crownfill {
    position: absolute;
    left: 42%;
    top: 7%;
    color: rgb(255, 240, 41);
    transform: rotate(-45deg);
    font-size: 21px;
}
.icon-crownfill:before {
    content: "\e776";
}
.my-touxiang {
    overflow: hidden;
    margin:0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 110px;
    position: relative;
}
.my-touxiang img {
    vertical-align: middle;
    width:100%
}
.my-name {
    color:#fff;
    font-size: 24px;
    margin-top: 30px;
}
@media only screen and (max-width:375px){
    .my-touxiang {
        width:60px;
        height:60px;
        border-radius: 30px;
        margin-top: 50px;
    }
    .my-name {
        font-size: 14px;
        margin-top: 15px;
        
    }
    .my-bj {
        height:201px;
    }
}
@media only screen and (max-width:320px){
    .my-touxiang {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        margin-top: 40px;
    }
    .my-name {
        font-size: 14px;
        margin-top: 10px;
    }
    .my-bj {
        height:171px;
    }
    .text-p1 {
        font-size: 14px!important;
    }
    .text-p2 {
        font-size: 12px!important;
    }
    
    .iconWidth-tab,.iconWidth-tab1 {
        height: 22px!important;
    }
    .widthM1 {
        width:27px;
    }
    .widthM2 {
        width:29.5px;
    }
    .widthM3 {
        width:20.5px;
    }
    .widthM4 {
        width:25px;
    }
    .widthM5 {
        width:26px;
    }
    .widthM6 {
        width:29px;
    }
    .iconWidth {
        margin-bottom: 6px!important;
        margin-top: 10px!important;
    }
    .mybot-mar {
        margin-bottom: 5px!important;
    }
}
@media only screen and (max-width:414px) and (min-width:376px) {
    .my-touxiang {
        width:60px;
        height:60px;
        border-radius: 30px;
        margin-top: 50px;
    }
    .my-name {
        font-size: 16px;
        margin-top: 15px;
    }
    .my-bj {
        height:222px;
    }
}
@media only screen and (max-width:768px) and (min-width:415px) {
    .my-touxiang {
        width: 78px;
	    height: 78px;
	    border-radius: 50px;
	    margin-top: 59px;
    }
    .my-name {
        font-size: 20px;
    	margin-top: 30px;
    	margin-bottom: 55px;
    }
    .my-bj {
       /*  height:409px; */
    }
}
.my-bj-next {
    background-color:#fff;
}
.margin-top {
    margin-top: 25px;
    margin-bottom: 25px;
}
.my-border {
    border-right:1px solid #e2e2e2;
}
.text-p1 {
    font-size: 15px;
    color:#333;
    font-weight: 500;
}
.text-p2 span {
    font-size: 13px;
    color:#f33a70;
}
.bund{
    color: #f33a70!important;
}
.text-p2 {
    font-size: 13px;
    color:#999;
    margin: 0;
}
.mynav-bj {
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 60px;
}
.iconWidth  {
    width:40px;
    height: 40px;
    margin:0 auto;
    margin-bottom: 8px;
    margin-top: 18px;
    line-height:40px;
}
.iconWidth img {
    vertical-align: middle;
}
.mytext-p {
    color:#666;
    font-size: 12px;
}
.iconTop {
    margin-top: 10px;
}


.tarbarBj {
    background-color: #fff;
    position:fixed;
    bottom:0;
    width:100%;
    border-top: 1px solid #e2e2e2;
}
.tabbar-p {
    margin-top:5px;
    margin-bottom: 3px;
    font-size: 10px;
    color:#999;
}
.iconWidth-tab {
    width:100%;
    height:24px;
    margin:0 auto;
    margin-top: 5px;
}
.iconWidth-tab1 {
    width:100%;
    height:24px;
    margin:0 auto;
    margin-top: 5px;
}
.navAuto {
    text-align: center;
}
.mybot-mar {
    margin-bottom:10px;
}
.content {
	width:100%;
    background-color: #fff;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.danchu,.qiandao {
    background-color: rgba(33,33,33,0.5);
    width:100px;
    color:#fff;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    line-height: 24px;
    border-radius: 4px;
    position:absolute;
    top:300px;
    left:36%;
    z-index: 1000;
    display: none;
}