.el-input-inner{
    // height: 40px;
}

.el-input-number-decrease, 
.el-input-number-increase{
    // line-height: 40px;
}

.el-table{
    border:1px solid #e9e9e9;
}

.el-table-fit {
    border-right: 0;
    border-bottom: 0;
}

.el-table th{
    background-color: #f5f5f5;
}

.el-drawer-wrapper .el-drawer-title{
    font-weight: bold;
}